<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Actividades</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/actividad.css}" />
</head>
<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gimnasio ADUAFitness</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/actividades}">Actividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/maquinas}">Maquinas</a>
                </li>
                <li th:if="${usuario.getTipoUser()== esAdmin}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Usuarios</a>
                </li>
                <li th:if="${usuario.getTipoUser()== esCliente}" class="nav-item">
                    <a class="nav-link" th:href="@{/amigos}">Amigos</a>
                </li>
                <li th:if="${usuario.getTipoUser()!= esCliente}" class="nav-item">
                    <a class="nav-link" th:href="@{/ranking}">Ranking</a>
                </li>
                <li th:if="${usuario.getTipoUser()!= esAdmin}" class="nav-item">
                    <a class="nav-link" th:href="@{/mensajes}">Mensajes</a>
                </li>
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        [[${usuario.nombre}]]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perfil">Cuenta</a>
                        <a class="dropdown-item" href="/logout">
                            Cerrar sesión [[${usuario.email}]]
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    &nbsp;
    <div style="display:flex; justify-content:center;">
        <div class="col-md-6">
            <form method="GET" action="/actividades">
                <div style="display:flex;">
                    <input class="form-control" type="text" name="busca" id="busca" placeholder="Buscar actividad o rutina o reserva">
                    <button class="btn btn-info" type="submit" style="margin-left:10px;">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    &nbsp;
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#actividades" data-toggle="tab">Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#rutinas" data-toggle="tab">Rutinas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#destacadas" data-toggle="tab">Rutinas Destacadas</a>
        </li>
        <li th:if="${tipo == true}" class="nav-item">
            <a class="nav-link" href="#misactividades" data-toggle="tab">Mis Reservas</a>
        </li>
        <li th:if="${tipo == false && usuario.getTipoUser() != esAdmin}" class="nav-item">
            <a class="nav-link" href="#misactividadesmonitor" data-toggle="tab">Reservas con Cliente</a>
        </li>
        <li th:if="${usuario.getTipoUser() == esAdmin}" class="nav-item">
            <a class="nav-link" href="#reservasVerAdmin" data-toggle="tab">Reservas del sistema</a>
        </li>
        <li th:if="${tipo == true}" class="nav-item">
            <a class="nav-link" href="#favoritas" data-toggle="tab">Rutinas Favoritas</a>
        </li>
    </ul>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(errorActividad)}">
                <span th:text="${errorActividad}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(correcto)}">
                <span th:text="${correcto}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="actividades">
            <button th:if="${tipo == false && usuario.getTipoUser() != esAdmin}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaActividadModal">Nueva Actividad</button>
            <button th:if="${tipo == false && usuario.getTipoUser() != esAdmin}" type="button" class="btn btn-info" data-toggle="modal" data-target="#nuevaRutinaModal">Nueva Rutina</button>
            &nbsp;
            <li class="list-group-item" th:if="${actividades.isEmpty()}">
                <span>No se encontraron actividades</span>
            </li>
            <div class="row">
                <div class="col-md-6" th:each="actividad : ${actividades}">
                    <div class="card">
                        <div th:id="carouselExampleControlsActividad + ${actividad.id}" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div th:if="${actividad.multimedia.isEmpty()}">
                                <img class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" alt="Imagen de la actividad">
                            </div>
                            <div class="carousel-inner">
                                <div th:each="imagen, iterStat : ${actividad.multimedia}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                                    <div th:if="${imagen.nombre.endsWith('.mp4') or imagen.nombre.endsWith('.avi') or imagen.nombre.endsWith('.mov') or imagen.nombre.endsWith('.wmv')}">
                                        <video class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" controls></video>
                                    </div>
                                    <div th:if="${!imagen.nombre.endsWith('.mp4') and !imagen.nombre.endsWith('.avi') and !imagen.nombre.endsWith('.mov') and !imagen.nombre.endsWith('.wmv')}">
                                        <img class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" alt="Imagen de la actvidad">
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" th:href="'#carouselExampleControlsActividad' + ${actividad.id}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" th:href="'#carouselExampleControlsActividad' + ${actividad.id}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${actividad.nombre}"></h5>
                            <p class="card-text">Series [[${actividad.series}]]</p>
                            <p class="card-text">Repeticiones [[${actividad.repeticiones}]]</p>
                            <p class="card-text">Zona Cuerpo [[${actividad.zonaCuerpo}]]</p>
                            <p>
                                <div th:if="${metodos.buscarActividadPeligrosa(actividad.id)}">
                                  <span class="text-danger" title="Usted tiene Enfermedad, evite esta actividad">
                                    <i class="fa fa-exclamation-triangle"></i> ¡Peligro!
                                  </span>
                                </div>
                            </p>
                            <p><button th:if="${actividad.maquina != null}" type="button" class="btn btn-info" data-toggle="modal" data-target="#myMaquina" th:data-maquina="${actividad.maquina.id + '/' + actividad.maquina.imagen}">
                                [[${actividad.maquina.nombre}]]
                            </button>
                                <a th:if="${actividad.creador != null && usuario.id == actividad.creador.id}" href="#" th:title="Eliminar" class="delete-icon" data-toggle="modal" data-target="#eliminarActividadModal" th:data-id="${actividad.id}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eliminarActividadModal" tabindex="-1" role="dialog" aria-labelledby="eliminarActividadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarActividadModalLabel">¿Estás seguro de que deseas eliminar esta actividad?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="eliminarActividadForm" method="POST" th:object="${actividadDataEliminar}" action="/actividades/eliminar">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}" name="actividadIdEliminar" id="actividadIdEliminar"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eliminarRutinaModal" tabindex="-1" role="dialog" aria-labelledby="eliminarRutinaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarRutinaModalLabel">¿Estás seguro de que deseas eliminar esta rutina?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="eliminarRutinaForm" method="POST" th:object="${rutinaData}" action="/rutinas/eliminar">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}" name="rutinaIdEliminar" id="rutinaIdEliminar"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="rutinas">
            <ul class="list-group">
                <!-- Iteramos sobre la lista de rutinas -->
                <li th:each="rutina : ${rutinas}" class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- Mostramos el nombre de la rutina -->
                    <span th:text="${rutina.nombre}"></span>
                    <span class="badge badge-pill badge-secondary ml-2">
                        <i class="fas fa-list-ul mr-1"></i>
                        <span th:text="${rutina.getActividades().size()}"></span>
                    </span>
                    <span class="badge badge-pill badge-warning ml-2">
                        <i class="fas fa-star mr-1"></i>
                        <span th:text="${rutina.puntos}"></span>
                    </span>
                    <a th:if="${tipo == true && !metodos.buscarRutinaEnFavoritos(rutina.id)}" href="" th:onclick="'anadirFavoritos(\'/anadirFavoritos/' + ${rutina.id} + '\')'" th:title="Añadir_a_Favoritos">
                        <i class="far fa-heart"></i>
                    </a>
                    <a th:if="${tipo == true && metodos.buscarRutinaEnFavoritos(rutina.id)}" href="" th:onclick="'eliminarDeFavoritos(\'/eliminarDeFavoritos/' + ${rutina.id} + '\')'" th:title="Eliminar_de_Favoritos">
                        <i class="fas fa-heart"></i>
                    </a>
                    <button th:if="${tipo == true}" type="button" class="btn btn-warning" data-toggle="modal" data-target="#reservaModal" th:data-id="${rutina.id}">
                        Reservar
                    </button>
                    <a th:if="${usuario.id == rutina.creador.id}" href="#" th:title="Eliminar" class="delete-icon" data-toggle="modal" data-target="#eliminarRutinaModal" th:data-id="${rutina.id}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <!-- Agregamos un evento 'click' al elemento de la rutina -->
                    <span th:attr="onclick='mostrarActividades(\'' + ${rutina.id} + '\')'" class="badge badge-primary badge-pill"><i class="fas fa-plus"></i></span>

                </li>
                <li style="background-color: #f8f9fa;border: 1px solid #dee2e6;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);" class="list-group-item" th:if="${rutinas.isEmpty()}">
                    <span>No se encontraron rutinas</span>
                </li>
            </ul>
            <!-- Creamos un contenedor para las actividades de la rutina seleccionada -->
            <div th:each="rutina : ${rutinas}" th:id="'actividades-' + ${rutina.id}" class="card mt-3" style="display: none;">
                <div class="card-header">
                    <h4 th:text="${rutina.nombre}"></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- Iteramos sobre la lista de actividades de esta rutina -->
                    <div class="row">
                        <div class="col-md-4" th:each="actividad : ${rutina.actividades}">
                            <div class="card">
                                <div th:id="carouselExampleControlsRutina + ${rutina.id} + ${actividad.id}" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div th:if="${actividad.multimedia.isEmpty()}">
                                        <img class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" alt="Imagen de la actvidad">
                                    </div>
                                    <div class="carousel-inner">
                                        <div th:each="imagen, iterStat : ${actividad.multimedia}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                                            <div th:if="${imagen.nombre.endsWith('.mp4') or imagen.nombre.endsWith('.avi') or imagen.nombre.endsWith('.mov') or imagen.nombre.endsWith('.wmv')}">
                                                <video class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" controls></video>
                                            </div>
                                            <div th:if="${!imagen.nombre.endsWith('.mp4') and !imagen.nombre.endsWith('.avi') and !imagen.nombre.endsWith('.mov') and !imagen.nombre.endsWith('.wmv')}">
                                                <img class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" alt="Imagen de la actvidad">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" th:href="'#carouselExampleControlsRutina' + ${rutina.id} + ${actividad.id}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" th:href="'#carouselExampleControlsRutina' + ${rutina.id} + ${actividad.id}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Siguiente</span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${actividad.nombre}"></h5>
                                    <p class="card-text">Series [[${actividad.series}]]</p>
                                    <p class="card-text">Repeticiones [[${actividad.repeticiones}]]</p>
                                    <p class="card-text">Zona Cuerpo [[${actividad.zonaCuerpo}]]</p>
                                    <p>
                                        <div th:if="${metodos.buscarActividadPeligrosa(actividad.id)}">
                                          <span class="text-danger" title="Usted tiene Enfermedad, evite esta actividad">
                                            <i class="fa fa-exclamation-triangle"></i> ¡Peligro!
                                          </span>
                                        </div>
                                    </p>
                                    <p><button th:if="${actividad.maquina != null}" type="button" class="btn btn-info" data-toggle="modal" data-target="#myMaquina" th:data-maquina="${actividad.maquina.id + '/' + actividad.maquina.imagen}">
                                        [[${actividad.maquina.nombre}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item" th:if="${rutina.actividades.isEmpty()}">
                        <span>No se encontraron actividades</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="destacadas">
            <ul class="list-group">
                <!-- Iteramos sobre la lista de rutinas -->
                <li th:each="rutina : ${mejores}" class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- Mostramos el nombre de la rutina -->
                    <span th:text="${rutina.nombre}"></span>
                    <span class="badge badge-pill badge-secondary ml-2">
                        <i class="fas fa-list-ul mr-1"></i>
                        <span th:text="${rutina.getActividades().size()}"></span>
                    </span>
                    <span class="badge badge-pill badge-warning ml-2">
                        <i class="fas fa-star mr-1"></i>
                        <span th:text="${rutina.puntos}"></span>
                    </span>
                    <a th:if="${tipo == true && !metodos.buscarRutinaEnFavoritos(rutina.id)}" href="" th:onclick="'anadirFavoritos(\'/anadirFavoritos/' + ${rutina.id} + '\')'" th:title="Añadir_a_Favoritos">
                        <i class="far fa-heart"></i>
                    </a>
                    <a th:if="${tipo == true && metodos.buscarRutinaEnFavoritos(rutina.id)}" href="" th:onclick="'eliminarDeFavoritos(\'/eliminarDeFavoritos/' + ${rutina.id} + '\')'" th:title="Eliminar_de_Favoritos">
                        <i class="fas fa-heart"></i>
                    </a>
                    <button th:if="${tipo == true}" type="button" class="btn btn-warning" data-toggle="modal" data-target="#reservaModal" th:data-id="${rutina.id}">
                        Reservar
                    </button>
                    <a th:if="${usuario.id==rutina.creador.id}" href="#" th:title="Eliminar" class="delete-icon" data-toggle="modal" data-target="#eliminarRutinaModal" th:data-id="${rutina.id}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <!-- Agregamos un evento 'click' al elemento de la rutina -->
                    <span th:attr="onclick='mostrarActividadesDestacadas(\'' + ${rutina.id} + '\')'" class="badge badge-primary badge-pill"><i class="fas fa-plus"></i></span>

                </li>
                <li style="background-color: #f8f9fa;border: 1px solid #dee2e6;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);" class="list-group-item" th:if="${mejores.isEmpty()}">
                    <span>No se encontraron rutinas</span>
                </li>
            </ul>
            <!-- Creamos un contenedor para las actividades de la rutina seleccionada -->
            <div th:each="rutina : ${mejores}" th:id="'actividadesDes-' + ${rutina.id}" class="card mt-3" style="display: none;">
                <div class="card-header">
                    <h4 th:text="${rutina.nombre}"></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- Iteramos sobre la lista de actividades de esta rutina -->
                    <div class="row">
                        <div class="col-md-4" th:each="actividad : ${rutina.actividades}">
                            <div class="card">
                                <div th:id="carouselExampleControlsDestacadas + ${rutina.id} + ${actividad.id}" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div th:if="${actividad.multimedia.isEmpty()}">
                                        <img class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" alt="Imagen de la actividad">
                                    </div>
                                    <div class="carousel-inner">
                                        <div th:each="imagen, iterStat : ${actividad.multimedia}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                                            <div th:if="${imagen.nombre.endsWith('.mp4') or imagen.nombre.endsWith('.avi') or imagen.nombre.endsWith('.mov') or imagen.nombre.endsWith('.wmv')}">
                                                <video class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" controls></video>
                                            </div>
                                            <div th:if="${!imagen.nombre.endsWith('.mp4') and !imagen.nombre.endsWith('.avi') and !imagen.nombre.endsWith('.mov') and !imagen.nombre.endsWith('.wmv')}">
                                                <img class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" alt="Imagen de la actvidad">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" th:href="'#carouselExampleControlsDestacadas' + ${rutina.id} + ${actividad.id}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" th:href="'#carouselExampleControlsDestacadas' + ${rutina.id} + ${actividad.id}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Siguiente</span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${actividad.nombre}"></h5>
                                    <p class="card-text">Series [[${actividad.series}]]</p>
                                    <p class="card-text">Repeticiones [[${actividad.repeticiones}]]</p>
                                    <p class="card-text">Zona Cuerpo [[${actividad.zonaCuerpo}]]</p>
                                    <p>
                                        <div th:if="${metodos.buscarActividadPeligrosa(actividad.id)}">
                                          <span class="text-danger" title="Usted tiene Enfermedad, evite esta actividad">
                                            <i class="fa fa-exclamation-triangle"></i> ¡Peligro!
                                          </span>
                                        </div>
                                    </p>
                                    <p><button th:if="${actividad.maquina != null}" type="button" class="btn btn-info" data-toggle="modal" data-target="#myMaquina" th:data-maquina="${actividad.maquina.id + '/' + actividad.maquina.imagen}">
                                        [[${actividad.maquina.nombre}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item" th:if="${rutina.actividades.isEmpty()}">
                        <span>No se encontraron actividades</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="misactividades">
            <li class="list-group-item" th:if="${reservas.isEmpty()}">
                <span>No se encontraron reservas</span>
            </li>
            <div class="row">
                <div class="col-md-4" th:each="reserva : ${reservas}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${reserva.title}"></h5>
                            <p th:if="${reserva.rutina != null}" class="card-text">Nombre Rutina: [[${reserva.rutina.nombre}]]</p>
                            <p th:if="${reserva.rutina == null}" class="card-text">Nombre Rutina: NO DISPONIBLE</p>
                            <p class="card-text">Nombre Monitor: [[${reserva.monitor.nombre}]]</p>
                            <p class="card-text">Correo Monitor: [[${reserva.monitor.email}]]</p>
                            <p class="card-text">Fecha: [[${#dates.format(reserva.start, 'dd/MM/yyyy HH:mm')}]]</p>
                            <p class="card-text">Estado: [[${reserva.estado}]]</p>
                            <p>
                            <form th:if="${reserva.rutina != null && reserva.estado == estado && reserva.valorada == false}" th:action="@{/valorar/{idR}(idR=${reserva.id})}" method="post" th:object="${valorarData}">
                                <div class="rating">
                                    <input type="radio" id="star1" name="valoracion" value="1" class="rating-input"  th:field="*{puntos}" required>
                                    <label for="star1" title="1 Estrella"><span class="fa fa-star">1</span></label>
                                    <input type="radio" id="star2" name="valoracion" value="2" class="rating-input"  th:field="*{puntos}">
                                    <label for="star2" title="2 Estrellas"><span class="fa fa-star">2</span></label>
                                    <input type="radio" id="star3" name="valoracion" value="3" class="rating-input"  th:field="*{puntos}">
                                    <label for="star3" title="3 Estrellas"><span class="fa fa-star">3</span></label>
                                    <input type="radio" id="star4" name="valoracion" value="4" class="rating-input"  th:field="*{puntos}">
                                    <label for="star4" title="4 Estrellas"><span class="fa fa-star">4</span></label>
                                    <input type="radio" id="star5" name="valoracion" value="5" class="rating-input"  th:field="*{puntos}">
                                    <label for="star5" title="5 Estrellas"><span class="fa fa-star">5</span></label>
                                    <button class="btn btn-info" title="Valorar" type="submit"><i class="fas fa-thumbs-up"></i></button>
                                </div>
                            </form>
                            <button class="btn btn-danger" type="button" th:onclick="'eliminar(\'/reservar/eliminar/'+${reserva.id}+'\')'"><i class="fas fa-trash"> Eliminar</i></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="misactividadesmonitor">
            <li class="list-group-item" th:if="${reservas.isEmpty()}">
                <span>No se encontraron reservas</span>
            </li>
            <div class="row">
                <div class="col-md-4" th:each="reserva : ${reservas}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${reserva.title}"></h5>
                            <p th:if="${reserva.rutina != null}" class="card-text">Nombre Rutina: [[${reserva.rutina.nombre}]]</p>
                            <p th:if="${reserva.rutina == null}" class="card-text">Nombre Rutina: NO DISPONIBLE</p>
                            <p class="card-text">Nombre Cliente: [[${reserva.cliente.nombre}]]</p>
                            <p class="card-text">Correo Cliente: [[${reserva.cliente.email}]]</p>
                            <p class="card-text">Fecha: [[${#dates.format(reserva.start, 'dd/MM/yyyy HH:mm')}]]</p>
                            <p class="card-text">Estado: [[${reserva.estado}]]</p>
                            <p>
                                <button th:if="${reserva.estado != estado}" class="btn btn-info" type="button" th:onclick="'finalizarla(\'/reservar/finalizar/'+${reserva.id}+'\')'"><i class="fas fa-check"> Finalizar</i></button>
                                <button class="btn btn-danger" type="button" th:onclick="'eliminar(\'/reservar/eliminar/'+${reserva.id}+'\')'"><i class="fas fa-trash"> Eliminar</i></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="reservasVerAdmin">
            <li class="list-group-item" th:if="${adminR.isEmpty()}">
                <span>No se encontraron reservas</span>
            </li>
            <div class="row">
                <div class="col-md-4" th:each="reserva : ${adminR}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${reserva.title}"></h5>
                            <p th:if="${reserva.rutina != null}" class="card-text">Nombre Rutina: [[${reserva.rutina.nombre}]]</p>
                            <p th:if="${reserva.rutina == null}" class="card-text">Nombre Rutina: NO DISPONIBLE</p>
                            <p class="card-text">Nombre Cliente: [[${reserva.cliente.nombre}]]</p>
                            <p class="card-text">Correo Cliente: [[${reserva.cliente.email}]]</p>
                            <p class="card-text">Nombre Monitor: [[${reserva.monitor.nombre}]]</p>
                            <p class="card-text">Correo Monitor: [[${reserva.monitor.email}]]</p>
                            <p class="card-text">Fecha: [[${#dates.format(reserva.start, 'dd/MM/yyyy HH:mm')}]]</p>
                            <p class="card-text">Estado: [[${reserva.estado}]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="favoritas">
            <ul class="list-group">
                <!-- Iteramos sobre la lista de rutinas -->
                <li th:each="rutina : ${favoritas}" class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- Mostramos el nombre de la rutina -->
                    <span th:text="${rutina.nombre}"></span>
                    <span class="badge badge-pill badge-secondary ml-2">
                        <i class="fas fa-list-ul mr-1"></i>
                        <span th:text="${rutina.getActividades().size()}"></span>
                    </span>
                    <span class="badge badge-pill badge-warning ml-2">
                        <i class="fas fa-star mr-1"></i>
                        <span th:text="${rutina.puntos}"></span>
                    </span>
                    <a href="" th:onclick="'eliminarDeFavoritos(\'/eliminarDeFavoritos/' + ${rutina.id} + '\')'" th:title="Eliminar_de_Favoritos">
                        <i class="fas fa-heart"></i>
                    </a>
                    <button th:if="${tipo == true}" type="button" class="btn btn-warning" data-toggle="modal" data-target="#reservaModal" th:data-id="${rutina.id}">
                        Reservar
                    </button>
                    <a th:if="${usuario.id==rutina.creador.id}" href="#" th:title="Eliminar" class="delete-icon" data-toggle="modal" data-target="#eliminarRutinaModal" th:data-id="${rutina.id}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <!-- Agregamos un evento 'click' al elemento de la rutina -->
                    <span th:attr="onclick='mostrarActividadesFavoritas(\'' + ${rutina.id} + '\')'" class="badge badge-primary badge-pill"><i class="fas fa-plus"></i></span>

                </li>
                <li style="background-color: #f8f9fa;border: 1px solid #dee2e6;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);" class="list-group-item" th:if="${favoritas.isEmpty()}">
                    <span>No se encontraron rutinas favoritas</span>
                </li>
            </ul>
            <!-- Creamos un contenedor para las actividades de la rutina seleccionada -->
            <div th:each="rutina : ${mejores}" th:id="'actividadesfav-' + ${rutina.id}" class="card mt-3" style="display: none;">
                <div class="card-header">
                    <h4 th:text="${rutina.nombre}"></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <!-- Iteramos sobre la lista de actividades de esta rutina -->
                    <div class="row">
                        <div class="col-md-4" th:each="actividad : ${rutina.actividades}">
                            <div class="card">
                                <div th:id="carouselExampleControlsFavoritas + ${rutina.id} + ${actividad.id}" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div th:if="${actividad.multimedia.isEmpty()}">
                                        <img class="card-img-top mx-auto d-block" style="height: 500px;width: 500px" alt="No existe imagenes">
                                    </div>
                                    <div class="carousel-inner">
                                        <div th:each="imagen, iterStat : ${actividad.multimedia}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                                            <div th:if="${imagen.nombre.endsWith('.mp4') or imagen.nombre.endsWith('.avi') or imagen.nombre.endsWith('.mov') or imagen.nombre.endsWith('.wmv')}">
                                                <video class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" controls></video>
                                            </div>
                                            <div th:if="${!imagen.nombre.endsWith('.mp4') and !imagen.nombre.endsWith('.avi') and !imagen.nombre.endsWith('.mov') and !imagen.nombre.endsWith('.wmv')}">
                                                <img class="card-img-top mx-auto d-block" style="height: 300px;width: 300px" th:src="@{/img/actividades/__${actividad.id}__/__${imagen.nombre}__}" alt="Imagen de la actvidad">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" th:href="'#carouselExampleControlsFavoritas' + ${rutina.id} + ${actividad.id}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" th:href="'#carouselExampleControlsFavoritas' + ${rutina.id} + ${actividad.id}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Siguiente</span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${actividad.nombre}"></h5>
                                    <p class="card-text">Series [[${actividad.series}]]</p>
                                    <p class="card-text">Repeticiones [[${actividad.repeticiones}]]</p>
                                    <p class="card-text">Zona Cuerpo [[${actividad.zonaCuerpo}]]</p>
                                    <p>
                                        <div th:if="${metodos.buscarActividadPeligrosa(actividad.id)}">
                                          <span class="text-danger" title="Usted tiene Enfermedad, evite esta actividad">
                                            <i class="fa fa-exclamation-triangle"></i> ¡Peligro!
                                          </span>
                                        </div>
                                    </p>
                                    <p><button th:if="${actividad.maquina != null}" type="button" class="btn btn-info" data-toggle="modal" data-target="#myMaquina" th:data-maquina="${actividad.maquina.id + '/' + actividad.maquina.imagen}">
                                        [[${actividad.maquina.nombre}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item" th:if="${rutina.actividades.isEmpty()}">
                        <span>No se encontraron actividades</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reservaModal" tabindex="-1" role="dialog" aria-labelledby="reservaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservaModalLabel">Reservar la Actividad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/reservar" th:object="${reservaData}">
                        <div class="form-group">
                            <label for="monitor-select">Selecciona un monitor:</label>
                            <select th:field="*{idMonitor}" class="form-control" id="monitor-select" required>
                                <option value="">-- Seleccionar --</option>
                                <option th:each="monitor : ${monitores}"  th:value="${monitor.id}" th:text="${'('+ monitor.nombre+') '+ monitor.email}"></option>
                            </select>
                        </div>
                        <input type="hidden" th:field="*{idRutina}" name="rutinaId" id="rutinaId"/>
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input type="text" th:field="*{title}" class="form-control" id="title" name="title" required/>
                        </div>
                        <div class="form-group">
                            <label for="fechaHora">Fecha y Hora</label>
                            <div id="calendar" style="border: none;font-size: 8px;"></div>
                            <input type="text" th:field="*{fecha}" class="form-control" id="fechaHora" name="fechaHora" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Reservar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myMaquina" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles de la máquina</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <img id="modal-image" style="height: 400px;width: 400px" src="" alt=" Lo sentimos No existe imagenes"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nuevaActividadModal" tabindex="-1" role="dialog" aria-labelledby="nuevaActividadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaActividadModalLabel">Nueva Actividad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/actividades}" method="post" th:object="${actividadData}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="archivos">Multimedia</label>
                            <input type="file" name="archivos" class="form-control-file" id="archivos" multiple required>
                        </div>
                        <div id="archivos-error" style="color: red"></div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" minlength="3" maxlength="50" required/>
                        </div>
                        <div class="form-group">
                            <label for="series">Series</label>
                            <input type="number" th:field="*{series}" class="form-control" id="series" name="series" min="1" max="100" required/>
                        </div>
                        <div class="form-group">
                            <label for="repeticiones">Repeticiones</label>
                            <input type="number" th:field="*{repeticiones}" class="form-control" id="repeticiones" name="repeticiones" min="1" max="50" required/>
                        </div>
                        <div class="form-group">
                            <label for="maquina">Maquina</label>
                            <select name="maquina" th:field="*{maquina}" class="form-control" id="maquina">
                                <option value="-1">-- Seleccionar --</option>
                                <option th:each="maq : ${maquinas}"
                                        th:value="${maq.id}"
                                        th:text="${maq.nombre}"
                                        th:selected="true"
                                />
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="zona">Zona Cuerpo</label>
                            <select name="zona" th:field="*{zonaCuerpo}" class="form-control" id="zona" required>
                                <option value="">-- Seleccionar --</option>
                                <option th:each="opcion : ${opciones}" th:value="${opcion}" th:text="${opcion}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nuevaRutinaModal" tabindex="-1" role="dialog" aria-labelledby="nuevaRutinaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaRutinaModalLabel">Nueva Rutina</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/rutinas}" method="post" th:object="${rutinaData}">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" required/>
                        </div>
                        <div class="form-group">
                            <label for="ejerciciosrutina">Ejercicios</label>
                            <select th:field="*{actividades}" id ="ejerciciosrutina" multiple="multiple" required>
                                <option th:each="option : ${ejercicios}" th:value="${option.id}"
                                        th:text="${option.nombre + ' (by ' + (option.creador != null ? option.creador.email : 'Unknown') + ')'}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <div th:object="${actividadData}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <ul th:if="${error != null}" class="alert alert-danger">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#eliminarRutinaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que abrió el modal
        var rutinaId = button.data('id'); // Extraer información de atributos de datos
        var modal = $(this);
        modal.find('.modal-body #rutinaIdEliminar').val(rutinaId); // Establecer el valor del campo oculto
    });
    $('#eliminarActividadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que abrió el modal
        var actividadId = button.data('id'); // Extraer información de atributos de datos
        var modal = $(this);
        modal.find('.modal-body #actividadIdEliminar').val(actividadId); // Establecer el valor del campo oculto
    });
    function mostrarActividades(rutinaID) {
        // Obtenemos el contenedor de subcategorías para esta categoría
        var actividades = document.getElementById("actividades-" + rutinaID);
        // Si el contenedor está visible, lo ocultamos. Si está oculto, lo mostramos.
        if (actividades.style.display === "none") {
            actividades.style.display = "block";
        } else {
            actividades.style.display = "none";
        }
    }
    function mostrarActividadesDestacadas(rutinaID) {
        // Obtenemos el contenedor de subcategorías para esta categoría
        var actividadesDes = document.getElementById("actividadesDes-" + rutinaID);
        // Si el contenedor está visible, lo ocultamos. Si está oculto, lo mostramos.
        if (actividadesDes.style.display === "none") {
            actividadesDes.style.display = "block";
        } else {
            actividadesDes.style.display = "none";
        }
    }
    function mostrarActividadesFavoritas(rutinaID) {
        // Obtenemos el contenedor de subcategorías para esta categoría
        var actividadesfav = document.getElementById("actividadesfav-" + rutinaID);
        // Si el contenedor está visible, lo ocultamos. Si está oculto, lo mostramos.
        if (actividadesfav.style.display === "none") {
            actividadesfav.style.display = "block";
        } else {
            actividadesfav.style.display = "none";
        }
    }
    $(document).ready(function() {
        // Ocultar todas las listas de actividades al cargar la página
        $('.actividades').hide();

        // Mostrar la lista de actividades correspondiente al botón presionado
        $('.mostrar-actividades').click(function() {
            console.log('Hola');
            var id = $(this).data('id');
            console.log(id);
            $('#actividades-' + id).slideToggle();
        });
    });
    $('#myMaquina').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Botón que activó el modal
        var maquina = button.data('maquina') // Extrae el valor del atributo data-maquina
        var modalImage = $(this).find('#modal-image')
        modalImage.attr('src', '/img/maquinas/'+maquina)
    });
    document.querySelector('#archivos').addEventListener('change', function() {
        var archivos = document.querySelector('#archivos');
        if (archivos.files.length > 0) {
            var totalSize = 0;
            for (var i = 0; i < archivos.files.length; i++) {
                totalSize += archivos.files[i].size;
            }
            var sizeInMB = totalSize / 1024 / 1024; // Convertir a MB
            if (sizeInMB > 100) {
                archivos.value = ''; // Limpiar la selección de archivos
                document.querySelector('#archivos-error').textContent = '(*) El tamaño total de los archivos debe ser menor a 100MB.';
            } else {
                document.querySelector('#archivos-error').textContent = '';
            }
        }
    });

    $(document).ready(function() {
        var calendar = $('#calendar').fullCalendar({
            locale: 'es',
            editable:true,
            slotDuration: '00:30:00',
            header:{
                left:'prev,next today',
                center:'title',
                right:'month,agendaWeek,agendaDay'
            },
            selectable:true,
            selectHelper:true,
            selectConstraint: 'businessHours',
            eventConstraint: 'businessHours',
            businessHours:{
                dow:[1,2,3,4,5],
                start:'08:00',
                end:'18:00'
            },
            events: [],
            select: function(start, end, jsEvent, view) {
                // Comprobar si la fecha seleccionada es posterior a la fecha actual
                if (moment(start).isAfter(moment())) {
                    var fechaHora = moment(start).format('YYYY-MM-DD HH:mm');
                    $('#fechaHora').val(fechaHora);
                    $('#reservaModal').modal('show');
                    calendar.find('.fc-selected').removeClass('fc-selected');
                    $(this).addClass('fc-selected');
                } else {
                    // La fecha seleccionada es anterior o igual a la fecha actual
                    alert('No puedes seleccionar una fecha anterior o igual a hoy.');
                    $('#calendar').fullCalendar('unselect');
                }
            }
        });

        $('#monitor-select').change(function() {
            var monitorId = $(this).val();
            console.log(monitorId);
            calendar.fullCalendar('removeEvents');
            var eventos = [];
            if (monitorId) {
                fetch('/reservas/' + monitorId)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            var reserva = data[i];
                            eventos.push({
                                title: reserva.title,
                                start: moment(reserva.start).format('YYYY-MM-DDTHH:mm:ss'),
                                end: moment(reserva.start).add(30, 'minutes').format('YYYY-MM-DDTHH:mm:ss'),
                                editable: false
                            });
                        }
                        calendar.fullCalendar('addEventSource', eventos);
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    });
    $('#reservaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var rutinaId = button.data('id');
        $('#rutinaId').val(rutinaId);
    });
    function finalizarla(url) {
        fetch(url, {
            method: 'POST'
        }).then((res) => location.reload());
    }
    function eliminar(url) {
        fetch(url, {
            method: 'POST'
        }).then((res) => location.reload());
    }
    function anadirFavoritos(url) {
        console.log(url);
        fetch(url, {
            method: 'POST'
        });
    }
    function eliminarDeFavoritos(url) {
        console.log(url);
        fetch(url, {
            method: 'POST'
        });
    }
</script>
</body>
</html>
