<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Restablecer contraseña</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gimnasio ADUAFitness</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/registro}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/acerca}">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sobremi}">Sobre Mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contacto}">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">

  <div class="row justify-content-center mb-3">
    <div class="col-auto">
      <h2>Restablecer Contraseña</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <form method="post" th:action="@{/olvidar}" th:object="${resetData}">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form-group">
              <label for="eMail">Usuario</label>
              <input id="eMail" class="form-control" name="eMail" placeholder="Correo electrónico" type="text" th:field="*{eMail}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="La dirreccion del correo electronico debe tener unos ciertos caracteres por ejemplo @" required/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar correo</button>
            <a class="btn btn-link" href="/registro">Ir a registro</a>
            <a class="btn btn-link" href="/login">Volver al login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
        <span th:text="${mensaje}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #333;color: black;" class="footer mt-4 py-3 bg-light text-white">
  <div class="container-fluid text-center">
    <span style="color:black;">Gimnasio ADUAFitness &copy; 2023</span>
  </div>
</footer>

</body>
</html>