<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
</head>
<!-- Navbar -->
<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gimnasio Fit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/actividades}">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/maquinas}">Maquinas</a>
        </li>
        <li th:if="${usuario.getTipoUser()== esAdmin}" class="nav-item">
          <a class="nav-link" th:href="@{/users}">Usuarios</a>
        </li>
        <li th:if="${usuario.getTipoUser()== esCliente}" class="nav-item">
          <a class="nav-link" th:href="@{/amigos}">Amigos</a>
        </li>
        <li th:if="${usuario.getTipoUser()!= esCliente}" class="nav-item">
          <a class="nav-link" th:href="@{/ranking}">Ranking</a>
        </li>
        <li th:if="${usuario.getTipoUser()!= esAdmin}" class="nav-item">
          <a class="nav-link" th:href="@{/mensajes}">Mensajes</a>
        </li>
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            [[${usuario.nombre}]]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil">Cuenta</a>
            <a class="dropdown-item" href="/logout">
              Cerrar sesión [[${usuario.email}]]
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div th:if="${tipo==0}" class="col-md-12 mt-4">
      <h2>Bienvenido Administrador</h2>
      <p>En esta página, usted puede gestionar el gym y controlar cualquier tipo de incidencia</p>
    </div>
    <div th:if="${tipo==2}" class="col-md-12 mt-4">
      <h2>Bienvenido Monitor</h2>
      <p>En esta página, usted puede gestionar las actvividades de los clientes</p>
    </div>
    <div th:if="${tipo==1}" class="col-md-12 mt-4">
      <h2>Bienvenido Cliente</h2>
      <p>En esta página, usted puede realizar actividades y gestionarlas como usted desee</p>
    </div>
  </div>
</div>

<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #333;color: black;" class="footer mt-4 py-3 bg-light text-white">
  <div class="container-fluid text-center">
    <span style="color:black;">Gimnasio Fit &copy; 2023</span>
  </div>
</footer>
</body>
</html>