<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Maquinas Gym</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/maquinas.css}" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gimnasio ADUAFitness</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/actividades}">Actividades</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/maquinas}">Maquinas</a>
        </li>
        <li th:if="${usuario.getTipoUser()== esAdmin}" class="nav-item">
          <a class="nav-link" th:href="@{/users}">Usuarios</a>
        </li>
        <li th:if="${usuario.getTipoUser()== esCliente}" class="nav-item">
          <a class="nav-link" th:href="@{/amigos}">Amigos</a>
        </li>
        <li th:if="${usuario.getTipoUser()!= esCliente}" class="nav-item">
          <a class="nav-link" th:href="@{/ranking}">Ranking</a>
        </li>
        <li th:if="${usuario.getTipoUser()!= esAdmin}" class="nav-item">
          <a class="nav-link" th:href="@{/mensajes}">Mensajes</a>
        </li>
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            [[${usuario.nombre}]]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil">Cuenta</a>
            <a class="dropdown-item" href="/logout">
              Cerrar sesión [[${usuario.email}]]
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="eliminarMaquinaModal" tabindex="-1" role="dialog" aria-labelledby="eliminarMaquinaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarMaquinaModalLabel">¿Estás seguro de que deseas eliminar esta maquina?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="eliminarMaquinaForm" method="POST" th:object="${maquinaData}" action="/maquinas/eliminar">
        <div class="modal-body">
          <input type="hidden" th:field="*{id}" name="maquinaIdEliminar" id="maquinaIdEliminar"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(correcto)}">
        <span th:text="${correcto}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <button th:if="${usuario.getTipoUser() == esAdmin}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaMaquinaModal">Nueva Maquina</button>
  &nbsp;
  <div style="display:flex; justify-content:center;">
    <div class="col-md-6">
      <form method="GET" action="/maquinas">
        <div style="display:flex;">
          <input class="form-control" type="text" name="busca" id="busca" placeholder="Buscar maquina">
          <button class="btn btn-info" type="submit" style="margin-left:10px;">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <div class="col-md-6" th:each="maquina : ${maquinas}">
      <div class="card">
        <img class="card-img-top" style="height: 500px;width: 500px" th:src="@{/img/maquinas/__${maquina.id}__/__${maquina.imagen}__}" alt=" Lo sentimos No existe imagenes">
        <div class="card-body">
          <h5 class="card-title" th:text="${maquina.nombre}"></h5>
          <p class="card-text" th:text="${maquina.registro}"></p>
          <a href="#" th:title="Editar" class="edit-icon" data-toggle="modal" data-target="#editarMaquinaModal" th:data-id="${maquina.id}">
            <i class="fas fa-edit"></i>
          </a>
          <a th:if="${usuario.getTipoUser()==esAdmin}" href="#" th:title="Eliminar" class="delete-icon" data-toggle="modal" data-target="#eliminarMaquinaModal" th:data-id="${maquina.id}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="nuevaMaquinaModal" tabindex="-1" role="dialog" aria-labelledby="nuevaMaquinaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevaMaquinaModalLabel">Nueva Maquina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/maquinas}" method="post" th:object="${maquinaData}" enctype="multipart/form-data">
          <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" class="form-control-file" id="imagen">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" required/>
          </div>
          <div class="form-group">
            <label for="registro">Fecha Registro</label>
            <input type="date" th:field="*{registro}" class="form-control" id="registro" name="registro" required/>
          </div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editarMaquinaModal" tabindex="-1" role="dialog" aria-labelledby="editarMaquinaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarMaquinaModalLabel">Nueva Maquina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/maquinas/editar}" method="post" th:object="${maquinaData}" enctype="multipart/form-data">
          <input type="hidden" th:field="*{id}" name="maquinaId" id="maquinaId"/>
          <div class="form-group">
            <label for="imagen">Imagen (si desea cambiar la imagen)</label>
            <input type="file" name="imagen" class="form-control-file" id="imagen">
          </div>
          <div class="form-group">
            <label for="nombreEditar">Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombreEditar" name="nombreEditar" required/>
          </div>
          <div class="form-group">
            <label for="registroEditar">Fecha Registro</label>
            <input type="date" th:field="*{registro}" class="form-control" id="registroEditar" name="registroEditar" required/>
          </div>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#eliminarMaquinaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botón que abrió el modal
    var maquinaId = button.data('id'); // Extraer información de atributos de datos
    var modal = $(this);
    modal.find('.modal-body #maquinaIdEliminar').val(maquinaId); // Establecer el valor del campo oculto
  });
  $('#editarMaquinaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var maquinaID = button.data('id');
    $.ajax({
      url: '/maquinas/' + maquinaID,
      type: 'GET',
      dataType: 'json',
      success: function(maquina) {
        $('#maquinaId').val(maquina.id);
        $('#nombreEditar').val(maquina.nombre);
        var fechaRegistro = moment(maquina.registro).format('YYYY-MM-DD');
        console.log(fechaRegistro);
        $('#registroEditar').val(fechaRegistro);
      },
      error: function() {
        alert('Error al obtener los detalles de la maquina.');
      }
    });
  });
</script>
</body>
</html>
