<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gimnasio ADUAFitness</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

    <!-- CSS personalizado -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gimnasio ADUAFitness</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registro}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/acerca}">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sobremi}">Sobre Mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacto}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenido -->
<div class="container mt-3">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <i class="fas fa-dumbbell"></i>
        <p>Bienvenido al Gimnasio ADUAFitnes</p>
    </div>
    <!-- Imágenes de las clases -->
    <div class="row align-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="text-center">Actividades</h5>
                <div th:id="carouselExampleControlsActividadPrincipal" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="imagen, iterStat : ${multimedia}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                            <div th:if="${imagen.nombre.endsWith('.mp4') or imagen.nombre.endsWith('.avi') or imagen.nombre.endsWith('.mov') or imagen.nombre.endsWith('.wmv')}">
                                <video class="card-img-top mx-auto d-block" style="height: 450px;width: 450px" th:src="@{/img/actividades/__${imagen.actividad.id}__/__${imagen.nombre}__}" controls></video>
                            </div>
                            <div th:if="${!imagen.nombre.endsWith('.mp4') and !imagen.nombre.endsWith('.avi') and !imagen.nombre.endsWith('.mov') and !imagen.nombre.endsWith('.wmv')}">
                                <img class="card-img-top mx-auto d-block" style="height: 450px;width: 450px" th:src="@{/img/actividades/__${imagen.actividad.id}__/__${imagen.nombre}__}" alt="Imagen de la actvidad">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" th:href="'#carouselExampleControlsActividadPrincipal'" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" th:href="'#carouselExampleControlsActividadPrincipal'" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="text-center">Nuestras Maquinas</h5>
                <div th:id="carouselExampleControlsMaquinaPrincipal" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="maquina, iterStat : ${maquinas}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                            <div th:if="${maquina.imagen!= null && (maquina.imagen.endsWith('.mp4') or maquina.imagen.endsWith('.avi') or maquina.imagen.endsWith('.mov') or maquina.imagen.endsWith('.wmv'))}">
                                <video class="card-img-top mx-auto d-block" style="height: 450px;width: 450px" th:src="@{/img/maquinas/__${maquina.id}__/__${maquina.imagen}__}" controls></video>
                            </div>
                            <div th:if="${maquina.imagen!= null && (!maquina.imagen.endsWith('.mp4') and !maquina.imagen.endsWith('.avi') and !maquina.imagen.endsWith('.mov') and !maquina.imagen.endsWith('.wmv'))}">
                                <img class="card-img-top mx-auto d-block" style="height: 450px;width: 450px" th:src="@{/img/maquinas/__${maquina.id}__/__${maquina.imagen}__}" alt="Imagen de la maquina">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" th:href="'#carouselExampleControlsMaquinaPrincipal'" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" th:href="'#carouselExampleControlsMaquinaPrincipal'" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #333;color: black;" class="footer mt-4 py-3 bg-light text-white">
    <div class="container-fluid text-center">
        <span style="color:black;">Gimnasio ADUAFitness &copy; 2023</span>
    </div>
</footer>
</body>
</html>