<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sobre mí</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/sobremi.css}" />
</head>
<body style="background-color: #FFFFE7;">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gimnasio Fit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/actividades}">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/maquinas}">Maquinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/amigos}">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ranking}">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mensajes}">Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/registro}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/acerca}">Acerda de</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/sobremi}">Sobre Mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contacto}">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="text-center">Sobre mí</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img th:src="@{/img/profile-image.jpg}" class="img-responsive" alt="Imagen de perfil">
    </div>
    <div class="col-md-8">
      <h2>Nombre completo</h2>
      <h4>Trabajo</h4>
      <p>Una breve descripción sobre ti, qué haces y tu experiencia. Puedes incluir detalles como tus habilidades, logros y educación.</p>
      <h3>Contacto</h3>
      <ul>
        <li><i class="fa fa-envelope"></i> Correo electrónico: correo@ejemplo.com</li>
        <li><i class="fa fa-phone"></i> Teléfono: 123-456-7890</li>
        <li><i class="fa fa-map-marker"></i> Dirección: Ciudad, País</li>
      </ul>
      <h3>Redes sociales</h3>
      <ul class="list-inline">
        <li><a th:href="@{'https://www.linkedin.com/in/usuario'}"><i class="fa fa-linkedin"></i></a></li>
        <li><a th:href="@{'https://github.com/usuario'}"><i class="fa fa-github"></i></a></li>
        <li><a th:href="@{'https://twitter.com/usuario'}"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #333;color: black;" class="footer mt-4 py-3 bg-light text-white">
  <div class="container-fluid text-center">
    <span style="color:black;">Gimnasio Fit &copy; 2023</span>
  </div>
</footer>
</body>
</html>
