.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #777;
}
.delete-icon {
    display: inline-block;
    margin-right: 5px;
}
.delete-icon i {
    color: red;
}


