/* Estilos personalizados para la plantilla Thymeleaf de gimnasio */

/* Estilos de la barra de navegación */
.navbar {
    background-color: #262626;
    color: #f2f2f2;
}

/* Estilos del título de la página */
.page-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #262626;
}

/* Estilos de las imágenes de clases de gimnasia */
.gym-class-img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

/* Estilos del formulario de contacto */
.contact-form {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
}

.contact-form label {
    font-weight: bold;
}

.contact-form button {
    margin-top: 1rem;
}
.alert {
    background-color: #f44336;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.alert p {
    margin: 0;
    font-size: 18px;
}

.alert i {
    font-size: 32px;
    margin-right: 10px;
}

.fa-dumbbell:before {
    content: "\f44b";
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black !important;
    /* otros estilos */
}