table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    color: #444;
    font-weight: normal;
}
th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    color: #444;
    font-weight: normal;
}
tr:hover td {
    background-color: #6ccde0;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.edit-icon {
    display: inline-block;
    margin-right: 5px;
}
.delete-icon {
    display: inline-block;
    margin-right: 5px;
}
.edit-icon i {
    color: blue;
}
.delete-icon i {
    color: red;
}